<main>
    <div id="home">
        <ul class="posts">
        {{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "post") 15 }}
        {{ $bib := $.Site.Data.bibliography.references}}
        {{ range $paginator.Pages }}
            {{ $key := .Params.paper_key }}
            {{ $entry := index (where $bib "id" $key) 0}}
            {{ $year := (index $entry.issued 0).year }}

            <li itemscope itemtype="//schema.org/BlogPosting">
                <div class="p-wrap">
                    <time datetime="" itemprop="datePublished">
                        {{ .Date.Format "02 Jan 06" }}
                    </time>
                    <a href="{{ .Permalink }}" itemprop="url">
                        <p class="post-title" itemprop="name headline">
                            {{ .Title | truncate 80 "..." }}
                            <span class="paper-date">
                                ({{ $year }})
                            </span>
                        </p>
                    </a>
                    <p class="post-authors">
                        {{ range $author := $entry.author }}
                            {{ $full := printf "%s %s" $author.given $author.family }}
                            {{ $term := printf "%s %s" $author.family $author.given }}
                            <a href="{{ $.Site.BaseURL }}paper_authors/{{ $term | urlize }}"
                               class="paper-author">{{ $author.family }}</a>&nbsp;
                        {{ end }}
		    </p>
                </div>
            </li>
        {{ end }}
        </ul>
    </div>
</main>
