{{ partial "head.html.html" . }}
<body>
    
    {{ partial "off-canvas.html.html" . }}

    <div class="site-wrapper">
        {{ partial "header.html.html" . }}
        
        <section class="single-wrap">
            <article class="single-content">
                <h1 class="page-title" itemprop="name headline">{{ .Site.Params.pageNotFoundTitle | markdownify }}</h1>
                <h3 style="text-align: center;">{{ .Site.Params.pageNotFoundSubtitle | markdownify }}</h3>
			</article>
		</section>

        {{ partial "footer.html.html" . }}
    </div>
    
    {{ partial "js.html.html" . }}
    
</body>
</html>
