{{ partial "head.html.html" . }}

<body>
    
    {{ partial "off-canvas.html.html" . }}
    <div class="site-wrapper">
        {{ partial "header.html.html" . }}
        {{ $both := split .Title "," }}
        {{ $full := printf "%s %s" (index $both 1) (index $both 0)}}
        <h3 class="list-title" itemprop="name headline">Papers by {{ $full }}</h3>
        {{ partial "post-list.html.html" . }}
        {{ partial "pagination.html.html" . }}
        {{ partial "footer.html.html" . }}
    </div>
    {{ partial "js.html.html" . }}
</body>
</html>
